.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
  .title{
      font-weight: bold;
  }

  /* banner */
.banner-primery-btn{
    background-color: #0D1321 ;
    font-weight: 196px;
    font-size: 23px;
    color: #FFFFFF;
    padding: 21px 24px ;
    border-radius: 10px;
    border: none;
}

.banner{
    display: flex;
    text-align: center;
    border-radius: 32px;
    padding: 100px 220px;
}

.heading-bachground-img{
    background-image: url(../B10A1-Challenge-Begins-main/assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
}

/* 1st section  */
.why-web-dev{
    border-radius: 10px;
    margin: 50px 220px;
    padding: 5%;
    background-color: rgba(13, 19, 33, 0.02);

    
}

.why-web-dev-intro{
    text-align: center;
    margin-bottom: 50px;
}

.why-web-dev-items{
    margin: 20px;
}
.why-web-dev-item{
    display: flex;
    justify-content: space-between;

    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

    
    
}
.why-web-dev-item-section{
    max-width: 500px;
}
.why-web-dev-item-btn{
    background-color: white ;
    font-weight: 130px;
    font-weight: bold;
    font-size: 18px;
    color: #0D1321;
    padding: 12px 20px ;
    border-radius: 0px;
    
    
}

/* 2nd section  */
.my-inspiration{
    
    text-align: center;
    padding: 50px 220px;
    gap: 25px;
}
.my-inspiration-vdeo{
    text-align: center;
    height: 450px;
    width: 1000px;
    padding: 30px;
    margin-top: 30px;
    
    border-radius: 15px;
}


